POSTGRES_DB=bkwiver
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
SERVER_PORT=8080
SERVER_BIND_IP=127.0.0.1
SERVER_PUBLIC_URL=https://bk-wiver.lan
RUST_LOG=info,tower_http=info
